volumes:
  postgres:
    driver: local

services:
  postgres:
    image: postgres:alpine
    container_name: postgres
    restart: unless-stopped
    hostname: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Noht12345
      - POSTGRES_DB=noht
    volumes:
      - postgres:/var/lib/postgresql/data

  server:
    container_name: server
    build: .
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    depends_on:
      - postgres
